<a href="https://colab.research.google.com/github/EazysPeazys/MinProAVD/blob/main/MinProAVD_Nabil_Daffa_Athalasyah_2409116090.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MINI PROJECT 1

**BUSINESS UNDERSTANDING**

Business Objective

Analisis ini bertujuan untuk memahami berbagai faktor yang memengaruhi peringkat universitas dalam QS World University Rankings 2024. Dengan analisis ini, diharapkan dapat memberikan wawasan yang bermanfaat bagi calon mahasiswa dalam memilih universitas berdasarkan kriteria tertentu, serta membantu institusi pendidikan dalam meningkatkan peringkat mereka. Selain itu, analisis ini juga bertujuan untuk mengidentifikasi tren global dalam pendidikan tinggi dengan mempertimbangkan aspek akademik, penelitian, dan tingkat internasionalisasi.

Assess Situation

Analisis ini melibatkan berbagai pemangku kepentingan, termasuk universitas dan akademisi, calon mahasiswa beserta orang tua, perusahaan yang mencari lulusan berkualitas, serta pemerintah dan pembuat kebijakan pendidikan. Sumber data utama yang digunakan berasal dari dataset QS World University Rankings, dengan berbagai faktor penentu seperti reputasi akademik, jumlah sitasi, proporsi fakultas internasional, serta aspek keberlanjutan. Namun, terdapat beberapa kendala dalam proses analisis ini, seperti data yang tidak lengkap pada beberapa kolom, termasuk Research, International Faculty, dan Sustainability Score. Oleh karena itu, diperlukan proses pembersihan dan pengolahan data agar analisis yang dilakukan lebih akurat. Selain itu, karena sebagian besar data berbentuk string, diperlukan konversi ke format numerik untuk memungkinkan analisis kuantitatif yang lebih mendalam.

Data Mining Goals

Tujuan utama dari analisis data mining ini adalah untuk mengidentifikasi universitas terbaik berdasarkan faktor-faktor utama yang memengaruhi peringkat. Selain itu, analisis ini juga bertujuan untuk mengevaluasi pola perubahan peringkat universitas dari tahun ke tahun, serta memahami hubungan antara faktor-faktor yang menentukan peringkat tersebut. Lebih jauh, analisis ini berusaha mengidentifikasi negara dengan performa terbaik dalam sektor pendidikan tinggi serta menyoroti universitas yang unggul dalam hal keberlanjutan dan penelitian internasional.

Project Plan

Proses analisis ini akan dilakukan melalui beberapa tahapan utama, yaitu:

1. Persiapan Data

- Melakukan pembersihan dataset.
- Mengonversi format data ke bentuk numerik.
- Menangani data yang tidak lengkap.

2. Eksplorasi Data

- Menganalisis distribusi universitas berdasarkan negara.
- Mengidentifikasi universitas terbaik berdasarkan berbagai faktor.
- Mengamati tren perubahan peringkat universitas dari tahun ke tahun.

3. Analisis Korelasi

- Menghitung korelasi antara faktor-faktor utama yang berkontribusi terhadap peringkat.
- Mengidentifikasi faktor yang paling berpengaruh.

4. Visualisasi Data

- Menyajikan grafik distribusi universitas berdasarkan negara.
- Memvisualisasikan hubungan antara faktor-faktor peringkat.

5. Kesimpulan dan Rekomendasi

- Merangkum temuan utama dari hasil analisis.
- Memberikan rekomendasi bagi universitas, calon mahasiswa, dan pembuat kebijakan pendidikan.

# MINI PROJECT 2

DATA UNDERSTANDING

TEMA "QS World University Rankings"

SUMBER DATA KAGGLE: "https://www.kaggle.com/datasets/joebeachcapital/qs-world-university-rankings-2024/data%22"

Terdapat sebanyak 1498 Baris dan 29 Kolom.

In [1]:
import pandas as pd

file = "/content/2024 QS World University Rankings 1.1 (For qs.com).csv"

df = pd.read_csv(file)
df

,2024 RANK,2023 RANK,Institution Name,Country Code,Country,SIZE,FOCUS,RES.,AGE,STATUS,...,International Faculty Rank,International Students Score,International Students Rank,International Research Network Score,International Research Network Rank,Employment Outcomes Score,Employment Outcomes Rank,Sustainability Score,Sustainability Rank,Overall SCORE
0,rank display,rank display2,institution,location code,location,size,focus,research,age band,status,...,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,SUS SCORE,SUS RANK,Overall Score
1,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,5,B,...,56,88.2,128,94.3,58,100,4,95.2,51,100.0
2,2,2,University of Cambridge,UK,United Kingdom,L,FC,VH,5,A,...,64,95.8,85,99.9,7,100,6,97.3,33=,99.2
3,3,4,University of Oxford,UK,United Kingdom,L,FC,VH,5,A,...,110,98.2,60,100.0,1,100,3,97.8,26=,98.9
4,4,5,Harvard University,US,United States,L,FC,VH,5,B,...,210,66.8,223,100.0,5,100,1,96.7,39,98.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,1401+,1401+,University of Oradea,RO,Romania,L,FC,MD,4,A,...,701+,7.0,701+,1.8,701+,5.9,701+,2.2,701+,-
1494,1401+,NaN,University of Stavanger,NO,Norway,NaN,CO,NaN,2,NaN,...,NaN,NaN,NaN,26.3,489,NaN,NaN,NaN,NaN,-
1495,1401+,1201-1400,"University Politehnica of Timisoara, UPT",RO,Romania,M,FO,VH,5,A,...,701+,2.9,701+,1.3,701+,8.5,701+,1,701+,-
1496,1401+,1201-1400,Western Washington University,US,United States,L,CO,HI,5,NaN,...,676,1.4,701+,1.0,701+,7.3,701+,NaN,NaN,-
1497,1401+,NaN,ZÃ¼rcher Hochschule Winterthur,CH,Switzerland,NaN,CO,NaN,NaN,NaN,...,NaN,NaN,NaN,1.7,701+,NaN,NaN,NaN,NaN,-

Melihat Jumlah Baris

In [2]:
df.shape

(1498, 29)

Cek Tipe Data Setiap Kolom

In [3]:
df.dtypes

2024 RANK                               object
2023 RANK                               object
Institution Name                        object
Country Code                            object
Country                                 object
SIZE                                    object
FOCUS                                   object
RES.                                    object
AGE                                     object
STATUS                                  object
Academic Reputation Score               object
Academic Reputation Rank                object
Employer Reputation Score               object
Employer Reputation Rank                object
Faculty Student Score                   object
Faculty Student Rank                    object
Citations per Faculty Score             object
Citations per Faculty Rank              object
International Faculty Score             object
International Faculty Rank              object
International Students Score            object
International Students Rank             object
International Research Network Score    object
International Research Network Rank     object
Employment Outcomes Score               object
Employment Outcomes Rank                object
Sustainability Score                    object
Sustainability Rank                     object
Overall SCORE                           object
dtype: object

STATISTIK DESKRIPTIF

In [4]:
# Statistik Deskriptif
df.describe()

,2024 RANK,2023 RANK,Institution Name,Country Code,Country,SIZE,FOCUS,RES.,AGE,STATUS,...,International Faculty Rank,International Students Score,International Students Rank,International Research Network Score,International Research Network Rank,Employment Outcomes Score,Employment Outcomes Rank,Sustainability Score,Sustainability Rank,Overall SCORE
count,1498,1416,1498,1498,1498,1475,1497,1411,1472,1456,...,1372,1418,1418,1494,1494,1474,1474,1398,1398,1498
unique,380,334,1498,105,105,5,5,5,6,4,...,684,524,688,555,700,450,693,400,344,351
top,1201-1400,801-1000,institution,US,United States,L,FC,VH,5,A,...,701+,1.1,701+,1.0,701+,7.9,701+,1,701+,-
freq,206,204,1,199,199,688,595,922,543,1157,...,684,36,727,281,790,20,782,174,697,895

DATA PREPARATION

TEMA "QS World University Rankings"

SUMBER DATA KAGGLE: "https://www.kaggle.com/datasets/joebeachcapital/qs-world-university-rankings-2024/data%22"

Terdapat sebanyak 1498 Baris dan 29 Kolom.

In [5]:
import pandas as pd

file = "/content/2024 QS World University Rankings 1.1 (For qs.com).csv"

df = pd.read_csv(file)
df

,2024 RANK,2023 RANK,Institution Name,Country Code,Country,SIZE,FOCUS,RES.,AGE,STATUS,...,International Faculty Rank,International Students Score,International Students Rank,International Research Network Score,International Research Network Rank,Employment Outcomes Score,Employment Outcomes Rank,Sustainability Score,Sustainability Rank,Overall SCORE
0,rank display,rank display2,institution,location code,location,size,focus,research,age band,status,...,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,SUS SCORE,SUS RANK,Overall Score
1,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,5,B,...,56,88.2,128,94.3,58,100,4,95.2,51,100.0
2,2,2,University of Cambridge,UK,United Kingdom,L,FC,VH,5,A,...,64,95.8,85,99.9,7,100,6,97.3,33=,99.2
3,3,4,University of Oxford,UK,United Kingdom,L,FC,VH,5,A,...,110,98.2,60,100.0,1,100,3,97.8,26=,98.9
4,4,5,Harvard University,US,United States,L,FC,VH,5,B,...,210,66.8,223,100.0,5,100,1,96.7,39,98.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,1401+,1401+,University of Oradea,RO,Romania,L,FC,MD,4,A,...,701+,7.0,701+,1.8,701+,5.9,701+,2.2,701+,-
1494,1401+,NaN,University of Stavanger,NO,Norway,NaN,CO,NaN,2,NaN,...,NaN,NaN,NaN,26.3,489,NaN,NaN,NaN,NaN,-
1495,1401+,1201-1400,"University Politehnica of Timisoara, UPT",RO,Romania,M,FO,VH,5,A,...,701+,2.9,701+,1.3,701+,8.5,701+,1,701+,-
1496,1401+,1201-1400,Western Washington University,US,United States,L,CO,HI,5,NaN,...,676,1.4,701+,1.0,701+,7.3,701+,NaN,NaN,-
1497,1401+,NaN,ZÃ¼rcher Hochschule Winterthur,CH,Switzerland,NaN,CO,NaN,NaN,NaN,...,NaN,NaN,NaN,1.7,701+,NaN,NaN,NaN,NaN,-

MISSING VALUES

In [6]:
# Missing Values
print((df.isna().sum() / len(df)) * 100)

2024 RANK                               0.000000
2023 RANK                               5.473965
Institution Name                        0.000000
Country Code                            0.000000
Country                                 0.000000
SIZE                                    1.535381
FOCUS                                   0.066756
RES.                                    5.807744
AGE                                     1.735648
STATUS                                  2.803738
Academic Reputation Score               0.000000
Academic Reputation Rank                0.000000
Employer Reputation Score               0.066756
Employer Reputation Rank                0.066756
Faculty Student Score                   1.602136
Faculty Student Rank                    1.602136
Citations per Faculty Score             1.602136
Citations per Faculty Rank              1.602136
International Faculty Score             8.411215
International Faculty Rank              8.411215
International Students Score            5.340454
International Students Rank             5.340454
International Research Network Score    0.267023
International Research Network Rank     0.267023
Employment Outcomes Score               1.602136
Employment Outcomes Rank                1.602136
Sustainability Score                    6.675567
Sustainability Rank                     6.675567
Overall SCORE                           0.000000
dtype: float64

DUPLIKAT

In [7]:
# Duplikat
df[df.duplicated()]

Empty DataFrame
Columns: [2024 RANK, 2023 RANK, Institution Name, Country Code, Country, SIZE, FOCUS, RES., AGE, STATUS, Academic Reputation Score, Academic Reputation Rank, Employer Reputation Score, Employer Reputation Rank, Faculty Student Score, Faculty Student Rank, Citations per Faculty Score, Citations per Faculty Rank, International Faculty Score, International Faculty Rank, International Students Score, International Students Rank, International Research Network Score, International Research Network Rank, Employment Outcomes Score, Employment Outcomes Rank, Sustainability Score, Sustainability Rank, Overall SCORE]
Index: []

[0 rows x 29 columns]

Data Reduction

In [8]:
df.columns

Index(['2024 RANK', '2023 RANK', 'Institution Name', 'Country Code', 'Country',
       'SIZE', 'FOCUS', 'RES.', 'AGE', 'STATUS', 'Academic Reputation Score',
       'Academic Reputation Rank', 'Employer Reputation Score',
       'Employer Reputation Rank', 'Faculty Student Score',
       'Faculty Student Rank', 'Citations per Faculty Score',
       'Citations per Faculty Rank', 'International Faculty Score',
       'International Faculty Rank', 'International Students Score',
       'International Students Rank', 'International Research Network Score',
       'International Research Network Rank', 'Employment Outcomes Score',
       'Employment Outcomes Rank', 'Sustainability Score',
       'Sustainability Rank', 'Overall SCORE'],
      dtype='object')

In [9]:
df.columns = df.columns.str.strip()

In [13]:
df.drop(columns=['2024 Rank', 'Overall Score'], axis=1, inplace=True)
print(df.columns)
df.columns = df.columns.str.strip()

KeyError: "['2024 Rank', 'Overall Score'] not found in axis"

In [14]:
df.columns

Index(['2024 RANK', '2023 RANK', 'Institution Name', 'Country Code', 'Country',
       'SIZE', 'FOCUS', 'RES.', 'AGE', 'STATUS', 'Academic Reputation Score',
       'Academic Reputation Rank', 'Employer Reputation Score',
       'Employer Reputation Rank', 'Faculty Student Score',
       'Faculty Student Rank', 'Citations per Faculty Score',
       'Citations per Faculty Rank', 'International Faculty Score',
       'International Faculty Rank', 'International Students Score',
       'International Students Rank', 'International Research Network Score',
       'International Research Network Rank', 'Employment Outcomes Score',
       'Employment Outcomes Rank', 'Sustainability Score',
       'Sustainability Rank', 'Overall SCORE'],
      dtype='object')

In [15]:
df.dtypes

2024 RANK                               object
2023 RANK                               object
Institution Name                        object
Country Code                            object
Country                                 object
SIZE                                    object
FOCUS                                   object
RES.                                    object
AGE                                     object
STATUS                                  object
Academic Reputation Score               object
Academic Reputation Rank                object
Employer Reputation Score               object
Employer Reputation Rank                object
Faculty Student Score                   object
Faculty Student Rank                    object
Citations per Faculty Score             object
Citations per Faculty Rank              object
International Faculty Score             object
International Faculty Rank              object
International Students Score            object
International Students Rank             object
International Research Network Score    object
International Research Network Rank     object
Employment Outcomes Score               object
Employment Outcomes Rank                object
Sustainability Score                    object
Sustainability Rank                     object
Overall SCORE                           object
dtype: object

MENGUBAH TIPE DATA

In [18]:
# Assuming your columns are named differently,
# you should replace the names in 'columns_to_convert' with the actual names in your DataFrame.
# For example, if your dataset has columns like 'Academic Reputation', 'Employer Reputation', etc.,
# your code should be modified like this:

columns_to_convert = ['Academic Reputation', 'Employer Reputation', 'Faculty Student', 'Citations per Faculty', 'International Faculty', 'International Students',  'Sustainability']

for col in columns_to_convert:
    # Handle missing values (if any) before converting to float
    df[col] = df[col].fillna(0).astype(str)  # Replace NaN with 0 and convert to string
    df[col] = df[col].str.replace('[\$,]', '', regex=True)
    df[col] = df[col].str.replace(r'\((.*?)\)', r'-\1', regex=True)
    df[col] = df[col].str.replace('-', '0')
    # Convert to float
    try:
        df[col] = df[col].astype(float)
    except ValueError:
        print(f"Warning: Could not convert column '{col}' to float. Skipping...")

print(df.dtypes)

KeyError: 'Academic Reputation'

In [16]:
df.dtypes

2024 RANK                               object
2023 RANK                               object
Institution Name                        object
Country Code                            object
Country                                 object
SIZE                                    object
FOCUS                                   object
RES.                                    object
AGE                                     object
STATUS                                  object
Academic Reputation Score               object
Academic Reputation Rank                object
Employer Reputation Score               object
Employer Reputation Rank                object
Faculty Student Score                   object
Faculty Student Rank                    object
Citations per Faculty Score             object
Citations per Faculty Rank              object
International Faculty Score             object
International Faculty Rank              object
International Students Score            object
International Students Rank             object
International Research Network Score    object
International Research Network Rank     object
Employment Outcomes Score               object
Employment Outcomes Rank                object
Sustainability Score                    object
Sustainability Rank                     object
Overall SCORE                           object
dtype: object

In [20]:
results = []

cols = df.select_dtypes(include=['float64'])

for col in cols:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    percent_outliers = (len(outliers) / len(df)) * 100
    results.append({'Kolom': col, 'Persentase Outliers': percent_outliers})

# Create DataFrame after the loop has populated results
results_df = pd.DataFrame(results)
# Now 'Kolom' column exists, so you can set it as index
results_df.set_index('Kolom', inplace=True)
results_df = results_df.rename_axis(None, axis=0).rename_axis('Kolom', axis=1)

display(results_df)

KeyError: "None of ['Kolom'] are in the columns"

OUTLIERS

In [21]:
columns_to_impute = ["Gross Sales", "Discounts", "Sales", "COGS", "Profit"]

for col in columns_to_impute:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Menggunakan .loc[] agar tidak muncul SettingWithCopyWarning
    df.loc[:, col] = df[col].clip(lower=lower_bound, upper=upper_bound)

KeyError: 'Gross Sales'

In [ ]:
results = []

cols = df.select_dtypes(include=['float64', 'int64'])

for col in cols:
  q1 = df[col].quantile(0.25)
  q3 = df[col].quantile(0.75)
  iqr = q3 - q1
  lower_bound = q1 - 1.5*iqr
  upper_bound = q3 + 1.5*iqr
  outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
  percent_outliers = (len(outliers)/len(df))*100
  results.append({'Kolom': col, 'Persentase Outliers': percent_outliers})

# Dataframe dari list hasil
results_df = pd.DataFrame(results)
results_df.set_index('Kolom', inplace=True)
results_df = results_df.rename_axis(None, axis=0).rename_axis('Kolom', axis=1)

# Tampilkan dataframe
display(results_df)

In [ ]:
df

CONSTRUCT DATA

In [ ]:
df['Profit Margin (%)'] = (df['Profit'] / df['Sales']) * 100
df['Discount Rate (%)'] = (df['Discounts'] / df['Gross Sales']) * 100
df['COGS Percentage (%)'] = (df['COGS'] / df['Sales']) * 100

print(df.head())

In [ ]:
df

In [ ]:
def categorize_discount(rate):
    if rate < 5:
        return 'Low Discount'
    elif 5 <= rate <= 15:
        return 'Medium Discount'
    else:
        return 'High Discount'

df['Discount Category'] = df['Discount Rate (%)'].apply(categorize_discount)

In [22]:
df

,2024 RANK,2023 RANK,Institution Name,Country Code,Country,SIZE,FOCUS,RES.,AGE,STATUS,...,International Faculty Rank,International Students Score,International Students Rank,International Research Network Score,International Research Network Rank,Employment Outcomes Score,Employment Outcomes Rank,Sustainability Score,Sustainability Rank,Overall SCORE
0,rank display,rank display2,institution,location code,location,size,focus,research,age band,status,...,ifr rank,isr score,isr rank,irn score,irn rank,ger score,ger rank,SUS SCORE,SUS RANK,Overall Score
1,1,1,Massachusetts Institute of Technology (MIT),US,United States,M,CO,VH,5,B,...,56,88.2,128,94.3,58,100,4,95.2,51,100.0
2,2,2,University of Cambridge,UK,United Kingdom,L,FC,VH,5,A,...,64,95.8,85,99.9,7,100,6,97.3,33=,99.2
3,3,4,University of Oxford,UK,United Kingdom,L,FC,VH,5,A,...,110,98.2,60,100.0,1,100,3,97.8,26=,98.9
4,4,5,Harvard University,US,United States,L,FC,VH,5,B,...,210,66.8,223,100.0,5,100,1,96.7,39,98.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,1401+,1401+,University of Oradea,RO,Romania,L,FC,MD,4,A,...,701+,7.0,701+,1.8,701+,5.9,701+,2.2,701+,-
1494,1401+,NaN,University of Stavanger,NO,Norway,NaN,CO,NaN,2,NaN,...,NaN,NaN,NaN,26.3,489,NaN,NaN,NaN,NaN,-
1495,1401+,1201-1400,"University Politehnica of Timisoara, UPT",RO,Romania,M,FO,VH,5,A,...,701+,2.9,701+,1.3,701+,8.5,701+,1,701+,-
1496,1401+,1201-1400,Western Washington University,US,United States,L,CO,HI,5,NaN,...,676,1.4,701+,1.0,701+,7.3,701+,NaN,NaN,-
1497,1401+,NaN,ZÃ¼rcher Hochschule Winterthur,CH,Switzerland,NaN,CO,NaN,NaN,NaN,...,NaN,NaN,NaN,1.7,701+,NaN,NaN,NaN,NaN,-